
<% if(locals.errors){ %> <% errors.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= error.msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- all success messages -->
<% }); %> <% } %> <% if(success_msg != ''){ %>
<div class="alert alert-success alert-dismissible fade show d-inline" role="alert">
  <%= success_msg %>
  <button
    type="button"
    class="close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- all warning alerts -->
<% } %> <% if(error_msg != ''){ %>
<div class="alert alert-warning alert-dismissible fade show d-inline" role="alert">
  <%= error_msg %>
  <button
    type="button"
    class="close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if(error != ''){ %>

<!-- all passport errors -->
<div class="alert alert-danger alert-dismissible fade show d-inline" role="alert">
  <%= error %>
  <button
    type="button"
    class="close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
