<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('./partials/head') %>
  </head>
  <header>
    <%- include("./partials/header") %>
  </header>
  <body style="height:100vh; max-width: 2000px">
    <div>
      <%- body %>
    </div>

    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script> -->
 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

   </body>
  <footer><%- include('./partials/footer'); %></footer>

</html>