    <main class="container" style="margin: 70px 16px; text-align:center">
      <% messages.forEach((msg) =>{ %>
      <p><%= msg %></p>
      <% }) %>
       <% if (currentUser) {%>
      <h1>WELCOME BACK <%= currentUser.name.toUpperCase() %></h1>
      <% } else {%>
      <h1>You are not authorized to view this page. Please login.</h1>""
      <% } %>
    </main>


