<div class="container mb-4" >
    <div container class="mt-5">
   
   <h1 class="mb-4">The page "<%= url %>" was not found.</h1>
   <h4><a href="/api/v1/events/dashboard">Back to the home page.</a></h4>

</div>
</div>
</div>

